<div class="header">
  <div class="title">
    <h1>
      <%= fa_icon 'file-text-o', text: 'Load a new sample' %> 
    </h1>
  </div>
</div>

<%= render partial: 'form', locals: { submit_button_text: 'Create the sample' } %>
