<h1>
  Editing Sequencing #<%= @sequencing.id %>
  (<span id="counter"><%= @sequencing.dna_extractions.count %></span>)
</h1>

<%= render partial: 'form', locals: { submit_button_text: 'Update this sequencing' } %>
