<h1>Editing Qubit Quantification</h1>

<%= render 'form' %>

<%= link_to 'Destroy this quantification entry', @qubit_quantification,
  class: 'btn btn-danger', method: 'delete', data: { confirm: "Destroy Qubit quantification entry #{@qubit_quantification.id} from sample #{@qubit_quantification.dna_extraction.sample.id} (patient #{@qubit_quantification.dna_extraction.sample.patient.full_name})?" } %>
