<div class="header">
  <div class="title">
    <h1>
      <%= fa_icon 'id-card' %>
      Create a new Study
    </h1>
  </div>
</div>

<%= render partial: 'form', locals: { submit_button_text: 'Create this Study' } %>
