<h1>Editing Nanodrop Quantification</h1>

<%= render 'form' %>

<%= link_to 'Destroy this quantification entry', @nanodrop_quantification,
  class: 'btn btn-danger', method: 'delete', data: { confirm: "Destroy this Nanodrop quantification entry from DNA ##{@nanodrop_quantification.dna_extraction.id}, from sample ##{@nanodrop_quantification.dna_extraction.sample.id}, from patient #{@nanodrop_quantification.dna_extraction.sample.patient.full_name}?" } %>
