<div class="card card-dna">
  <div class="card__title">
    <%= fa_icon 'tint' %>
    <%= link_to dna_extraction.description, edit_dna_extraction_path(dna_extraction.id) %>
  </div>

  <% unless dna_extraction.nanodrop_quantifications.count.zero? %>
    <table class="table table-bordered table-condensed table-striped quantification">
      <% dna_extraction.nanodrop_quantifications.decorate.each do |nanodrop_quantification| %>
        <%= render nanodrop_quantification %>
      <% end %>
    </table>
  <% end %>

  <% unless dna_extraction.qubit_quantifications.count.zero? %>
    <table class="table table-bordered table-condensed table-striped quantification">
      <% dna_extraction.qubit_quantifications.decorate.each do |qubit_quantification| %>
        <%= render qubit_quantification %>
      <% end %>
    </table>
  <% end %>

</div><!-- .dna-extraction-details -->

