<h1 class='title'>Editing Dna Extraction</h1>

<%= render 'form' %>

<%= link_to 'Destroy this DNA Extraction', @dna_extraction, class: 'btn btn-danger', method: :delete, data: { confirm: "Destroy DNA Extraction ##{@dna_extraction.id} from sample ##{@dna_extraction.sample.id}"} %>
