<div class="header">
  <div class="title">
    <h1>
      <%= fa_icon 'barcode' %>
      Upload a gel electrophoresis picture
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">

    <%= render 'gel_picture_form' %>
 
  </div><!-- .col-sm-12 -->
</div><!-- .row -->

<hr>

<div class="header">
  <h1 class="title">
    Uploaded pictures so far
  </h1>
</div>

<div class="row">
  <% @dnas_by_gel_picture.each do |gel_picture_url, associated_dnas| %>

    <div class="col-sm-4">

      <p><%= File.basename gel_picture_url %></p>

      <%= render partial: 'gel_picture_thumbnail', locals: { url: gel_picture_url, text: associated_dnas.map(&:decorate).map(&:description).join(', '), dna_id: associated_dnas.first.id } %>

    </div><!-- .col-sm-3 -->

  <% end %>
</div><!-- .row -->
