.project-tag {
  font-family: monospace;
  /* font-weight: bold; */
}

.enpv1 { color: dodgerBlue; }
.enpv2 { color: darkMagenta; }
.exome { color: olive; }
.pgsn  { color: orangeRed; }
.pgsnm { color: mediumVioletRed; }
.pgsa { color: darkRed; }
.pgdk { color: sienna; }
.cdp { color: forestGreen; }
.ela { color: teal; }
.pgsam { color: mediumSlateBlue; }

.grey { color: grey; }
.red { color: fireBrik; }
.green { color: seaGreen; }
.small { font-size: 0.9em !important; }

.highlighted {
  padding: 6px;
  background-color: deepSkyBlue;
  color: white;
  font-size: 1.25em;
  font-weight: bold;
  border-radius: 1px;
}

.mono-font { font-family: monospace; }
.align-right { text-align: right; }


.danger-highlight {
  border: 3px solid tomato !important;
  // !important to override Bootstrap's td styles
}
.warning-highlight {
  border: 3px solid orange !important;
  // !important to override Bootstrap's td styles
}

.rotate-on-hover {
  transition: transform .25s ease;
  &:hover { transform: rotate(15deg); }
}

.tomato-on-hover {
  transition: color .25 ease;
  &:hover { color: tomato; }
}

// Fix text color of link_to buttons
a.btn {
  &.btn-primary:visited,
  &.btn-info:visited,
  &.btn-success:visited,
  &.btn-warning:visited,
  &.btn-danger:visited {
    color: white;
  }
}
