.field {
  margin-bottom: 25px !important;
  // Overrides Bootstrap's div.field
}

.control-label {
  font-size: 1.15em;
  color: steelBlue;
}


// Options to easily fill the form fields
.existing-options {
  .btn {
    font-size: 0.9em;
  }
}

.form-control.inline {
  display: inline-block;
  width: auto;
}

fieldset {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid silver;
  border-radius: 2px;
}

#error_explanation ul {
  margin-top: 10px;
}

.selectable-dnas {
  label {
    width: 100%;
    padding: 6px;
    border-radius: 2px;
    border: 1px solid silver;
    margin: 1px;
    padding: 3px;
  }

  input[type=checkbox] {
    display: none;
  }

  .highlighted {
    background-color: gold;
    color: indigo;
    /* font-size: 1.25em; */
    /* font-weight: bold; */
  }
}

