body {
  margin-top: 60px;
  margin-bottom: 40px;
  font-family: 'Open Sans', sans-serif;
}

// Headers + action buttons, usually on top of the page
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
  margin-top: 15px;
}

h1 {
  font-family: 'Playfair Display', serif;
}

hr {
  border-top: 1px solid silver;
}

.logo {
  width: 145px;
}

.horizontal-flex {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;

  .flex-child {
    margin: 10px;
  }

  .flex-grow {
    flex: 1;
  }

  .left {
    max-width: 400px;
  }
  
  .right {
    text-align: right;
  }
}

.fixed-width {
  width: 210px;
}

.with-scroll {
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

img.preview {
  max-width: 350px;
  padding: 5px;
  border: 1px solid silver;
  border-radius: 2px;

  &:hover {
    cursor: pointer;
  }
}

.quanti-index {  // First cell of quantification tables
  width: 75px;
}

.modal-content {
  text-align: center;
}
