.selectable-dnas {
  display: flex;
  flex-wrap: wrap;

  .group {
    margin: 10px;
    flex: 1;
  }

  .with-scroll {
    .checkbox {
      max-height: 400px;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
}
