.selectable-dnas {
  display: flex;
  flex-wrap: wrap;

  .group {
    margin: 10px;
    max-width: 32%;  // 1/3 of whole row! Supposes 3 elements.
  }

  .with-scroll {
    .checkbox {
      max-height: 400px;
      overflow: scroll;
    }
  }
}
