.project-tag {
  font-family: monospace;
  /* font-weight: bold; */
}

.enpv1,.enpv2 { color: dodgerBlue; }
.exome { color: olive; }
.pgsn,.pgsnm,.pgsa, .pgdk, .pgsam { color: orangeRed; }
.cdp { color: forestGreen; }
.ela { color: black; }
