// Details of a DNA sample quantifications
.dna-details {
  padding: 5px;
  margin-bottom: 5px;
  background-color: lavender;
  border: 1px solid silver;
  border-radius: 4px;

  .title {
    font-size: 1.15em;
  }

  table.quantification {
    margin-bottom: 0px;  // Override bootstrap's 20px
  }
}

.quanti-index {  // First cell of quantification tables
  width: 75px;
}

