// Index tables with extra details in a hidden collapsible row:
.hidden-row > td {
  padding: 0 !important;
  border: 0 !important;

  .padding {
    padding: 20px;
  }

  .collapsing, .collapse.in {
    border-left: 2px solid gold;
    border-right: 2px solid gold;
    border-bottom: 2px solid gold;
  }
}

// FIXME: !important war
.display-row {
  cursor: pointer;
  background-color: gold !important;
  // ^ Highlights expanded samples.
  // !important overrides bootstrap heavily nested rule.
  &.collapsed {
    &:hover {
      background-color: lightGoldenrodYellow !important;
    }
    background-color: initial !important;
    // It uses the .collapsed Bootstrap class that is removed/restored on click
  // !important overrides bootstrap heavily nested rule.
  }
}

// Vertical table with ths in on the first column
.table-vertical {
  width: auto;

  th { width: 150px; }
}
